/* Base styles */
.login-background {
    background-color: black;
    width: 100%;
    height: 759px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    width: 100%;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-background>.header>img {
    width: 156.77px;
    height: 24px;
    gap: 0px;
    opacity: 0px;
}

.login-body {
    width: 100%;
    height: 607px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bd-1 {
    width: 460px;
    height: 312px;
    border-radius: 17px;
    border: 1px;
    background: linear-gradient(138.97deg, #111214 5.16%, #121212 105.18%);
    border: 1px solid rgba(52, 58, 64, 1);
    display: flex;
    flex-direction: column;
    gap: 48px;
    align-items: center;
    padding-top: 24px;
}

.bd-1-a {
    width: 380px;
    height: 103px;
    gap: 24px;
    opacity: 0px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.bd-1-a>div {
    width: 380px;
    height: 48px;
    gap: 10px;
    border-radius: 4px;
    border: 1px;
    border: 1px solid rgba(112, 113, 114, 1);
    display: flex;
}

.bd-1-a>div>img {
    width: 16px;
    height: 21px;
}

.bd-1-a>p {
    width: 380px;
    height: 31px;
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 31px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}

.bd-1-a>div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bd-1-a>div>p {
    width: 145px;
    height: 27px;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 26.1px;
    letter-spacing: -0.30000001192092896px;
    text-align: center;
    color: rgba(204, 204, 204, 1);
}

.bd-1-b {
    width: 380px;
    height: 103px;
    gap: 24px;
    opacity: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bd-1-b>button {
    width: 195px;
    height: 48px;
    border-radius: 4px;
    background: linear-gradient(91.73deg, #4b63dd -2.99%, rgba(5, 36, 191, 0.99) 95.8%);
    font-family: Open Sans;
    font-size: 15px;
    font-weight: 600;
    line-height: 21.7px;
    color: rgba(255, 255, 255, 1);
}

.bd-1-b>div>span:nth-child(1) {
    width: 190px;
    height: 25px;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24.8px;
    text-align: center;
    color: rgba(144, 146, 150, 1);
}

.bd-1-b>div>span:nth-child(2) {
    width: 50px;
    height: 25px;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24.8px;
    text-align: center;
    color: rgba(193, 194, 197, 1);
    margin-left: 5px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.footer>p {
    width: 220px;
    height: 19px;
    gap: 0px;
    opacity: 0px;
    font-family: Open Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 18.6px;
    text-align: left;
    color: rgba(92, 95, 102, 1);
}

/* Media query for responsiveness */
@media only screen and (max-width: 768px) {
    .login-background {
        height: auto;
        padding: 20px;
    }

    .bd-1 {
        width: 80%;
        height: auto;
    }

    .bd-1-a,
    .bd-1-b {
        width: 100%;
    }

    .bd-1-a>p {
        font-size: 16px;
        text-align: center;
    }

    .bd-1-a>div>p {
        font-size: 14px;
        text-align: center;
    }

    .bd-1-b>button {
        font-size: 14px;
    }

    .footer>p {
        font-size: 10px;
    }
}